:host {
    position: fixed;
    inset: 0;
    display: block;

    .climacontainer {
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 24px;
    background-image: url("https://picsum.photos/1920/1080?random=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

    .card{
        width: 100%;
        max-width: 500px;
        background: rgba(10, 14, 22, 0.72);
        border: 3px solid rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(10px);
        border-radius: 12px;
        box-shadow: 0 8px 32px 0 rgba(117, 119, 148, 0.37);
        padding: 42px;
        align-items: center;
        text-align: center;
        backdrop-filter: blur(10px) saturate(2.5);
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: translateY(-8px);
        }
    }

    .city {
        font-family: 'Quicksand', sans-serif;
        font-size: 4rem;
        color: #fff;
        font-weight: 600;
        text-align: center;
        margin-bottom: 24px;
        letter-spacing: 1.5px;
    }

    .temp {
        font-family: 'Alan Sans', sans-serif;
        font-size: 2rem;
        color: #fff;
        font-weight: 200;
        text-align: center;
        margin-top: -12px;
        margin-bottom: 24px;
        line-height: 1;
        text-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    }

    .img-titulo {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: -36px; 

        .desc {
            font-family: 'Alan Sans', sans-serif;
            font-size: 2rem;
            color: #fff;
            font-weight: 200;
            text-align: center;
            margin: 0;
            line-height: 1;
            text-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
        }

        .icon {
            width: 200px;
            height: 200px;
        }
    }

    .minmax {
        font-family: 'Alan Sans', sans-serif;
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: -20px;
        margin-bottom: 20px;
        color: #fff;
    }

    .btnprimary {
        width: 50%;
        padding: 12px 24px;
        font-size: 1.2rem;
        font-weight: 600;
        border: none;
        color: #fff;
        border-radius: 8px;
        background: linear-gradient(135deg, #aeb1ff, #3e20d6);
        cursor: pointer;
        transition: background-color, transform 0.15s ease-in-out;
        display: block;
        margin: 0 auto;
        box-shadow: 0 4px 16px rgba(62, 32, 214, 0.4);

        &:hover {
            transform: translateY(2px);
            background-color: #c6d4ff;
        }
    }

}

@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: 400px 0;
    }
}